@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8FAFC;
  color: #1E293B;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}

input[type="password"] {
  letter-spacing: 0.1em;
}
